#grid-container {
  width: 900px;
  height: 600px;
  border: 5px solid black;
  display: grid;
  background-color: black;
  grid-gap: 5px;
  grid-template-areas: 
  'wh01 wh02 wh02 wh02 wh02 wh02 wh02 wh02 wh03 wh03 wh03 wh03 wh03 wh03 wh03 wh03 wh04 ye01'
  'wh01 bl01 bl01 bl01 bl01 bl01 bl01 bl01 wh05 wh05 wh05 bl02 bl02 bl02 bl02 bl02 wh04 ye01'
  'no01 wh06 wh06 no02 wh07 wh07 wh07 wh08 ye02 ye02 ye02 re01 re01 re01 re01 re02 wh04 ye01'
  'no01 wh06 wh06 no02 wh07 wh07 wh07 wh08 ye02 ye02 ye02 re01 re01 re01 re01 re02 wh04 ye01'
  'no01 wh06 wh06 no02 wh07 wh07 wh07 wh08 ye02 ye02 ye02 re01 re01 re01 re01 re02 wh04 ye01'
  'no01 wh06 wh06 no02 wh07 wh07 wh07 wh08 ye02 ye02 ye02 re01 re01 re01 re01 re02 wh04 ye01'
  'no01 wh06 wh06 no02 ye03 re03 re03 re03 bl03 bl03 bl03 wh09 wh09 wh09 wh09 wh10 no03 no03'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .'
  '. . . . . . . . . . . . . . . . . .';
}

#item1 {
  grid-area: wh01;
}

#item2 {
  grid-area: wh02;
}

#item3 {
  grid-area: wh03;
}

#item4 {
  grid-area: wh04;
}

#item5 {
  grid-area: ye01;
}

#item6 {
  grid-area: bl01;
}

#item7 {
  grid-area: wh05;
}

#item8 {
  grid-area: bl02;
}

#item9 {
  grid-area: no01;
}

#item10 {
  grid-area: wh06;
}

#item11 {
  grid-area: no02;
}

#item12 {
  grid-area: wh07;
}

#item13 {
  grid-area: wh08;
}

#item14 {
  grid-area: ye02;
}

#item15 {
  grid-area: re01;
}

#item16 {
  grid-area: re02;
}

#item17 {
  grid-area: ye03;
}

#item18 {
  grid-area: re03;
}

#item19 {
  grid-area: bl03;
}

#item20 {
  grid-area: wh09;
}

#item21 {
  grid-area: wh10;
}

#item22 {
  grid-area: no03;
}

#item1, #item2, #item3, #item4, #item7, #item10, #item12, #item13, #item20, #item21 {
  background-color: white;
}

#item5, #item14, #item17 {
  background-color: yellow;
}

#item6, #item8, #item19 {
  background-color: blue;
}

#item9, #item11, #item22 {
  background-color: black;
}

#item15, #item16, #item18 {
  background-color: red;
}